{% extends "base.html" %}
{% block title %}New{% endblock %}
{% block body %}
	<div id="container">
		<section>
			<h3>New Post</h3>
			<form method="post">
				<input name="title" type="text" placeholder="Title"><br>
				<input name="body" cols="30" rows="10" placeholder="description ..."><br>
				<select name="catalog">
					{% for catalog in catalogs %}
					<option value="{{ catalog }}">{{ catalogs[catalog] }}</option>
					{% endfor %}
				</select>
				<input type="submit" value="Create">
			</form>
		</section>
	</div>
{% endblock %}